@tailwind base;
@tailwind components;
@tailwind utilities;

#app{
  background-color:rgb(173, 202, 210);
}

.tag-input-wrapper {
  display: flex;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  flex-wrap: wrap;
  background-color: #fff;
}

.tag-input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.tag {
  display: flex;
  align-items: center;
  background-color: #e0e0e0;
  border-radius: 15px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag button {
  background: none;
  border: none;
  margin-left: 10px;
  cursor: pointer;
  color: #555;
}

.tag-input-wrapper input {
  border: none;
  outline: none;
  flex-grow: 1;
  padding: 5px;
  font-size: 1rem;
}

.tag-input-wrapper:focus-within {
  border-color: #000;
}
